@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers";
@import "../../../node_modules/hamburgers/_sass/hamburgers/_base";

.hamburger {
  position:absolute;
  right:0px;
  z-index:2;
  background-color:transparent;
  opacity:1;
  outline:none;

  &:hover {
    opacity:1;
  }
}

.hamburger-inner {
  background-color:#fff;
  &:after, &:before {
    background-color:#fff;
    opacity:1;
  }
}

.triangle {
  position:absolute;
  right:0px;
  width: 0;
  height: 0;
  border-left: 260px solid transparent;
  border-right: 0px solid transparent;
  border-top: 70px solid #000;
  z-index:1;
}