<button class="hamburger hamburger--vortex" onclick="hamburgerMenuOpen()" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<div class="triangle"></div>